<div class="video_edit_main">
    <p>
        <label for="videoNameInput">videoname:</label>
        <input type="text" name="name" placeholder="videoname" class="video_name" id="videoNameInput">
    </p>
    <p>
        <label for="videoInfoInput" class="video_info_label">info:</label>
        <textarea type="text" name="info" placeholder="videoinfo" class="video_info" id="videoInfoInput"></textarea>
    </p>
    <p>
        <label for="videoImageInput">image:</label>
        <input type="text" name="image" placeholder="image" class="video_image" id="videoImageInput">
    </p>
    <p><label for="video_type">VideoType</label>
        <select name="video_type" id="video_type">
            {% for video_type in VideoType %}
                <option value="{{ video_type.value.0 }}">{{ video_type.value.1 }}</option>
            {% endfor %}
        </select>
    </p>
    {% if show_from == 'true' %}
        <p>
            <label for="video_from">VideoSource</label>
            <select name="video_from" id="video_from">
                {% for video_from in FromType %}
                    <option value="{{ video_from.name }}">{{ video_from.label }}</option>
                {% endfor %}
            </select>
        </p>
    {% endif %}

    <p><label for="nationality_type">NationalityType</label>
        <select name="nationality_type" id="nationality_type">
            {% for nationality in NationalityType %}
                <option value="{{ nationality.name }}">{{ nationality.label }}</option>
            {% endfor %}
        </select>
    </p>
    {% if show_from == 'true' %}
        <p><button type='button' class="btn btn-primary submit">add</button></p>
    {%  else %}
        <p><button type='submit' class="btn btn-primary submit">add</button></p>
    {% endif %}
</div>