<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action" aria-current="true">
    Admin
  </a>
  <a href="#" class="list-group-item list-group-item-action">User</a>
{#  <a href="#" class="list-group-item list-group-item-action">ExternalVideo</a>#}
{#  <a href="#" class="list-group-item list-group-item-action">Video</a>#}
    <div class="dropdown list-group-item">
      <span class="dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false" style="outline: none">
        Video
      </span>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">external video</a>
        <a class="dropdown-item" href="#">custom video</a>
      </div>
    </div>
</div>