.video-detail-container{

    width: 92%;

    padding: 10px;

    border: 1px solid #cccccc;
    border-radius: 6px;

    p{
        display: inline-block;
    }

    .detail_episode{
        table{
            width: 1000px;
        }

        .episode-number{
            width: 100px;
        }

        .episode-url {
            width: 800px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .episode-opt {
            width: 100px;
        }
    }

    tr {
        padding: 0;
        td{
            height: 20px;
        }
        p{
            margin: 0;
        }
    }
}