{% extends 'common/base.html' %}

{% block css %}
    {% load static %}
    <link lang="less" rel="stylesheet" href="{% static 'dashboard/css/index.css' %}">
{% endblock %}

{% block main %}
    <div class="page-dashboard">
        <div class="nav-top">
            {% include 'common/nav.html' %}
        </div>
        <div class="dashboard-box">
                <div class="nav-left">
                    {% include 'dashboard/component/left_nav.html' %}
                </div>
                <div class="main">
                    {% block main_content %}
                        <h1>首页</h1>
                    {% endblock %}
                </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {% load static %}
    <script src="{% static 'dashboard/js/controller.js' %}"></script>
{% endblock %}

