{% extends 'dashboard/index_base.html' %}

{% load static %}
{% block css %}
    {{ block.super }}
    <link rel="stylesheet" lang="less" href="{% static 'dashboard/css/video_detail.css' %}">
{% endblock %}

{% block main_content %}
	<h1>{{ video.name }}</h1>
{#    错误信息展示#}
    {% if error %}
        <span class=".text-danger">{{ error }}</span>
    {% endif %}
    <div class="video-detail-container">
        <span class='video-id' style="display:none">{{ video.id }}</span>
        {#    集数添加#}
        <div class="detail_episode">
            <h3>集数</h3>
{#        自制视频的集数添加直接后端获取#}
            {% if video.from_to == custom_type %}
                <form action="{% url 'video_detail' video_id=video_id edit_type='custom' %}" enctype="multipart/form-data" method="post">
                    <p><label for="video-url"></label><input type="file" name="video-url"></p>
                    <p><label for="video-number">集数：</label><input type="number" name="video-number"></p>
                    <input type="hidden" name="video-id" value="{{ video.id }}">
                    <p><button type='submit'>add</button></p>
                </form>
            {% else %}
                    <p><label for="video-url">视频地址：</label><input type="text" id="video-url"></p>
                    <p><label for="video-number">集数：</label><input type="number" id="video-number"></p>
                    <p><button type='button' class="btn btn-primary submit-add-episode">add</button></p>
            {% endif %}

            <hr>
{#        修改集数信息#}
            <div class="edit_episode">
                <h4>修改集数信息</h4>
                <p><label for="ideo-url-edit">视频地址：</label>
                    <input type="text" id="video-url-edit">
                </p>
                <p><label for="video-number-edit">集数：</label><input type="number" id="video-number-edit"></p>
                <p><button type='button' class="btn btn-primary submit-edit-episode">confirm</button></p>
                <input type="hidden" id="video-sub-id">
            </div>
{#        集数展示表#}
            <table class="table">
                <thead>
                    <tr>
                        <th>集数</th>
                        <th>地址</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                {% for sub in page %}
                	<tr>
                        <td><p class="episode-number">{{ sub.number }}</td>
                        <td>
{#                            如果是自制视频并且地址为空显示“处理中...”#}
                            <p class="episode-url">
                                {% if sub.url == '' and sub.video.from_to %}
                                	处理中...
                                {% else %}
                                    {{ sub.url }}
                                {% endif %}
                            </p>
                        </td>
                        <td class="episode-opt">
                            <a class="btn btn-primary episode-check" href="{{ sub.url }}">查看</a>
                            <a class="btn btn-primary episode-edit"
                               data-id="{{ sub.id }}" data-number="{{ sub.number }}" data-url="{{ sub.url }}">编辑</a>
                            <a class="btn btn-primary episode-del"
                               href="{% url 'video_detail_episode_del' video_id=video_id video_sub_id=sub.id sub_name=sub.name %}">删除</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="page_jump">
                {% if current_page > 1 %}
                    <a href="{% url 'video_detail' video_id=video_id current_page=current_page page_opt='prev' %}">上一页</a>
                {% endif %}
                {% if current_page < total_page %}
                	<a href="{% url 'video_detail' video_id=video_id current_page=current_page page_opt='next' %}">下一页</a>
                {% endif %}
            </div>
        </div>
        <hr>
        {#    人员信息#}
        <div class="detail_performer">
            <h3>人员信息</h3>
            <p><label for="star-name">姓名：</label><input type="text" id="star-name"></p>
            <select name="star-identify" id="star-identify">
                {% for item in identify_type %}
                    <option value="{{ item.name }}">{{ item.label }}</option>
                {% endfor %}
            </select>
            <p><button type='button' class="btn btn-primary submit-add-star">add</button></p>
            <table class="table">
                <thead>
                    <tr>
                        <th>姓名</th>
                        <th>身份</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                {% for star in stars %}
                	<tr>
                        <td><p class="star-name">{{ star.name }}</td>
                        <td>
                            <p class="star-identify">
                                {% for identify in identify_type %}
                                	{% if star.identify == identify.name %}
                                        {{ identify.label }}
                                    {% endif %}
                                {% endfor %}

                            </p>
                        </td>
                        <td><a href="{% url 'video_detail_performer_del' video_id=video_id %}">删除</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block js %}
	{{ block.super }}
    <script src="{% static 'dashboard/js/video_detail.js' %}"></script>
{% endblock %}