{% extends 'dashboard/index_base.html' %}
{% load static %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" lang="less" href="{% static 'dashboard/css/video_external.css' %}">
{% endblock %}

{% block main_content %}
    <h1>外链视频页面</h1>
    <div class="video_container">
        <button type="button" class="add_video btn btn-primary">Add Video</button>
        {% if error  %}
            {{ error }}
        {% endif %}
        <div class="video_main">
            <p>
                <label for="videoNameInput">videoname:</label>
                <input type="text" placeholder="videoname" class="video_name" id="videoNameInput">
            </p>
            <p>
                <label for="videoInfoInput" class="video_info_label">info:</label>
                <textarea type="text" placeholder="videoinfo" class="video_info" id="videoInfoInput"></textarea>
            </p>
            <p>
                <label for="videoImageInput">image:</label>
                <input type="text" placeholder="image" class="video_image" id="videoImageInput">
            </p>
            <p><label for="video_type">VideoType</label>
                <select name="video_type" id="video_type">
                    {% for video_type in VideoType %}
                        <option value="{{ video_type.value.0 }}">{{ video_type.value.1 }}</option>
                    {% endfor %}
                </select>
            </p>
            <p><label for="video_from">VideoSource</label>
                <select name="video_from" id="video_from">
                    {% for video_from in FromType %}
                        <option value="{{ video_from.name }}">{{ video_from.label }}</option>
                    {% endfor %}
                </select>
            </p>
            <p><label for="nationality_type">NationalityType</label>
                <select name="nationality_type" id="nationality_type">
                    {% for nationality in NationalityType %}
                        <option value="{{ nationality.name }}">{{ nationality.label }}</option>
                    {% endfor %}
                </select>
            </p>
            <p><button type='button' class="btn btn-primary submit">add</button></p>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'dashboard/js/video_external.js' %}"></script>
{% endblock %}